

<%- contentFor('hero') %>

<section class="hero">
    <div class="hero-content">
        <h2>All about use!</h2>
        <p>We're small team.</p>

        <a href="/contact" class="btn btn-lg btn-primary">Drop us a line</a>
    </div>
</section>

<%- contentFor('body') %>
<br/>
<div class="jumbotron text-center">
    Home Page
</div>
